:root {
	--dark: #131E27;
	--darkblue: #1C2E3B;
	--black: #0B0E13;
	--blue: #17D0FA;
	--dirtyblue: #17D0FADD;
	--text: rgba(243, 243, 243, 0.7);
	--darktext: rgba(243, 243, 243, 0.4);
	--purple: rgb(123, 97, 255);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*border: 1px solid gray;*/
}

li {
	border: 1px solid transparent;
}

button, select {
	cursor: pointer;
}

button {
	background: transparent;
	color: var(--blue);
	outline: none;
	border: none;
}

body {
	width: 1024px;
	height: 768px;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 20px 0 20px;
	font-family: Roboto, Arial, sans-serif;
	background: var(--darkblue);

	display: grid;
	grid-template-areas: 
	"header header header"
	"global-cases map death-cases"
	"country-cases map death-cases"
	"country-cases map recovery-cases"
	"country-cases map graph"
	"date map graph"
	"footer footer footer"

}

header {
	min-height: 90px;
	padding: 5px;
	background: var(--darkblue);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	grid-area: header;
}

.title {
	width: 320px;
	color: #f4f4f4ee;
	font-size: 29.5px;
}

.subtitle {
	width: 320px;
	color: var(--text);
	font-size: 11px;
}

.box {
	min-width: 248px;
	min-height: 83px;
	background: var(--black);
	border-radius: 6px;
	margin: 2px;
	padding: 5px 20px 20px 20px;
	border: 1px solid transparent;
}

.box:hover {
	border: 1px solid var(--purple);
}

.inner {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.box-xs {
	width: 248px;
	height: 83px;
}

.box-m {
	width: 248px;
	height: 402px;
}

.box-s {
	width: 281px;
	height: 189.3px;
}

.box-xl {
	width: 437px;
	height: 580px;
}

.global-cases {
	grid-area: global-cases;
}

.country-cases {
	grid-area: country-cases;
}

.date {
	grid-area: date;
}

.map {
	grid-area: map;
}

.death-cases {
	grid-area: death-cases;
}

.recovery-cases {
	grid-area: recovery-cases;
}

.graph {
	grid-area: graph;
}

.map, .graph {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.graph {
	align-items: center;
}

.graph .heading {
	display: flex;
}

.graph button {
	background: transparent;
	color: var(--blue);
	outline: none;
	border: none;
	margin: 0 10px;
}

.global-cases, .date {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.heading {
	color: var(--text);
	font-size: 11px;
}

.global-cases .heading {
	margin-top: 10px;
}

.global-counter {
	font-size: 34px;
	color: var(--blue);
	margin-top: 2px;
}

.counter, .update-time {
	color: var(--blue);
	margin-right: 7px;
}

.update-date {
	margin-top: 5px;
}

.cases {
	background: transparent;
	border: none;
	outline: none;
	color: var(--text);
	font-size: 11px;
}

.list ul {
	margin-top: 5px;
	list-style: none;
}

.list li {
	width: 206px;
	height: 29px;
	background: var(--dark);
	color: var(--text);
	margin-top: 5px;
	padding: 5px 0 5px 7px;
	border-radius: 6px;
}

.list li:hover {
	border: 1px solid var(--purple);
}

.search {
	margin-top: 5px;
	width: 206px;
	display: flex;
	justify-content: flex-end;
	opacity: 0.5;
}

.box-xl .search {
	width: 100%;
}

.box-xl .input {
	width: 128px;
}

.box-m input {
	width: 190px;
}

.wrapper {
	margin-top: 5px;
	width: 220px;
	height: 310px;
	overflow-y: scroll;
}

.box-s .wrapper {
	width: 250px;
	height: 105px;
}

.global-counter_deaths, .global-counter_recovery {
	font-size: 26px;
	color: #fffd;
}

.box-s ul li {
	width: 95%;
}

.search .input {
	background: #131E27;
	border-radius: 6px;
}

.input {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}

.input input {
	height: 24px;
	background: transparent;
	border: none;
	outline: none;
	color: var(--text);
	padding: 6px;
	font-size: 8px;
}

.input button {
	margin-right: 10px;
}

button svg:hover {
  fill: red !important;
}

.map-intaractive .map-intaractive-content {
	margin-top: 20px;
	width: 100%;
	height: 470px;
	display: flex;
	justify-content: center;
}

.map-intaractive-content img {
	margin-top: 20px;
	width: 100%;
	height: 470px;
}

footer {
	width: 100%;
	min-height: 60px;
	margin-top: 5px;
	background: var(--darkblue);
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	grid-area: footer;
}

.logo pre {
	font-family: Roboto, Arial, sans-serif;
	font-weight: bold;
	color: var(--blue);
	font-size: 20px;
	letter-spacing: -2px;
	line-height: 18px;
	 -webkit-text-stroke: 0.5px var(--blue);
	cursor: pointer;
}

.logo pre:hover {
	 -webkit-text-stroke: 0.5px #178CFA;
}

footer ul {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	list-style: none;
	color: var(--text);
	font-size: 11px;
}

footer ul li a {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: var(--text);
	font-size: 11px;
	line-height: 11px;
}

footer ul li a img {
	margin-right: 6px;
}

footer ul li {
	margin-right: 30px;
}

footer ul li:first-child {
	margin-left: 20px;
}

.github-links {
	display: flex;
	justify-content: flex-start;
	flex-wrap: nowrap;
	align-items: center;
}

.year {
	color: var(--blue);
	font-size: 14px;
}

@media screen and (max-width: 1023px) {
	body {
	  width: 100%;
	  height: auto;
	  display: grid;
	  grid-template-areas:
	  "header header"
	  "map map"
	  "global-cases death-cases"
	  "country-cases death-cases"
	  "country-cases recovery-cases"
	  "country-cases graph"
	  "date graph"
	  "footer footer"
	}
	
	li, li, .wrapper {
		width: 98% !important;
	}

	.box {
		width: 99.2%;
	}

	.map  {
		width: 100%;
	}

	.github-links {
		margin-top: 20px;
	}

	footer ul li:first-child {
	margin-left: 0;
}

}

@media screen and (max-width: 700px) {
	body {
	  display: grid;
	  grid-template-areas:
	  "header"
	  "map"
	  "global-cases"
	  "country-cases"
	  "date"
	  "death-cases"
	  "recovery-cases"
	  "graph"
	  "footer"
	}
	
	.box {
		width: 100%;
	}
	.map  {
		width: 100%;
	}
}
